/* Brand Colours */

$primary: #003594;
$secondary: #d1dcf5;

$accent-BP1: #ADCAFF;
$accent-BP2: #85AFFF;
$accent-BP3: #337AFF;
$accent-BP4: #004FE0;
$accent-BP5: #00153B;
$accent-BP6: #000E29;

$accent-BS1: #DDF1F8;
$accent-BS2: #B0D9E8;
$accent-BS3: #235C80;
$accent-BS4: #184C60;
$accent-BS5: #12333F;
$accent-BS6: #091A20;

/* Nuetural Colours / Light Greys */

$white: #FFFFFF;
$light-grey-1: #F4F5F6;
$light-grey-2: #E9EBEC;
$light-grey-3: #D4D8DA;
$light-grey-4: #C8CDD0;
$light-grey-5: #BEC3C6;
$light-grey-6: #A8AFB3;

/* Nuetural Colours / Dark Greys */

$dark-grey-1: #879197;
$dark-grey-2: #687378;
$dark-grey-3: #555E62;
$dark-grey-4: #393F41;
$dark-grey-5: #1C1F21;
$dark-grey-6: #121416;
$black: #090A0B;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.45rem;
}

h3 {
    font-size: 1.25rem;
}

h4,h5,h6 {
    font-size: 1.1rem;
}

h1,h2,h3,h4,h5 {
    font-weight: 700;
}

a {
    color: $primary;
}